.main__left {
  position: flex;
  margin-top: 50px;
  left: 6px;
  max-width: 100vh;
  width: 300px;
  overflow-y: auto;
  color: var(--color-primery);
  padding: 15px 0;
  &__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    padding: 5px 10px;
  }
}
