.post_image_background {
  display: flex;
  align-items: center;
  gap: 5px;
  & img {
    border-radius: 5px;
    object-fit: cover;
    width: 35px;
    cursor: pointer;
    height: 35px;
  }

  &_noBackground {
    width: 35px;
    height: 35px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
  }
}
