.post__view__detail {
  max-width: 705px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: 0 1px 2px var(--shadow-1);
  transition: 0.3s;
  border-radius: 10px;
  width: 100%;
  &__profile {
    padding: 5px 10px 5px 10px;
    display: flex;
    align-items: center;
    &__left {
      display: flex;
      align-items: center;
      gap: 10px;
      & img {
        width: 45px;
        height: 45px;
        border-radius: 50%;
      }
      &__group {
        display: flex;
        align-content: center;
        flex-direction: column;
        gap: 2px;
        &__name {
          font-size: 16px;
          font-weight: bold;
        }
        &__time {
          font-size: 12px;
        }
      }
    }
    &__right {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex: 1;
      padding-right: 10px;
    }
  }
  &__text {
    padding: 5px 10px 5px 10px;
  }
  &__image {
    width: 100%;
    & img {
      width: 100%;
      object-fit: cover;
    }
  }

  &__action {
    padding: 5px;
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: flex-end;
    &__group {
      display: flex;
      align-items: center;
      gap: 10px;

      &__item {
        display: flex;
        align-items: center;
        gap: 5px;
        font-size: 14px;
        color: #65676b;
      }
    }
  }
}
