.post__view {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  &__list {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }
}
