.post__box__body__text {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  & Textarea {
    outline: none;
    border: none;
    resize: none;
    padding: 5px 15px;
    margin-bottom: 10px;
    width: 470px;
    margin-left: 1px;
    font-family: inherit;
    font-size: 24px;
    background: var(--bg-primary);
    color: var(--color-primary);
  }
  &.small {
    & Textarea {
      font-size: 14px;
      padding: 5px;
      margin-bottom: 0px;
    }
  }
}

.post__box__body__emoji {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__btn {
    & i {
      cursor: pointer;
    }
    & i:hover {
      filter: invert(80%);
    }
    &__menu {
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(100%, -90%);
    }
  }
  &__color {
    & img {
      width: 39px;
      cursor: pointer;
    }
  }

  &.small {
    position: absolute;
    top: 110px;
    right: 10px;
    .post__box__body__emoji__color {
      display: none;
    }
    .post__box__body__emoji__btn__menu {
      transform: translate(1%, 7%);
    }
  }
}
