.post__box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 12px 20px 0 var(--shadow-1), 0 2px 4px 0 var(--shadow-2),
    inset 0 0 0 1px var(--shadow-inset);
  background: var(--bg-primary);
  min-height: 220px;
  width: 500px;
  border-radius: 5px;
  &__header {
    position: relative;
    display: flex;
    align-items: center;
    padding: 14px 15px 17px 15px;
    justify-content: center;
    border-bottom: 1px solid var(--bg-third);
    &__title {
      font-size: 20px;
      font-weight: bold;
    }
    &__close {
      position: absolute;
      right: 16px;
      top: 12px;
      cursor: pointer;
    }
  }

  &__body {
    padding: 5px;
    display: flex;
    flex-direction: column;
    &__profile {
      display: flex;
      align-items: center;
      gap: 5px;
      &__image {
        img {
          border-radius: 50%;
          width: 30px;
          height: 30px;
          object-fit: cover;
        }
      }
      &__item {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        &__fullname {
          font-size: 14px;
          font-weight: 600;
          margin-bottom: 4px;
        }
        &__tag {
          display: flex;
          align-items: center;
          gap: 5px;
          width: 80px;
          font-size: 12px;
          padding: 3px 8px 4px 8px;
          border-radius: 7px;
          background-color: var(--bg-third);
          cursor: pointer;
        }
      }
    }
  }
  .post__box__footer {
    display: flex;
    flex-direction: column;
    &__post {
    }
    &__button {
      margin: 5px;
      display: flex;
      flex: 1;
      & button {
        flex: 1;
        padding: 10px;
        outline: none;
        border: none;
        background: var(--blue-color);
        color: var(--bg-primary);
        font-weight: 600;
        cursor: pointer;
        border-radius: 5px;
      }
    }
  }
}
