.post__box__body__image_preview {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid var(--border-color);
  &__header {
    height: 300px;
    width: calc(100% - 5px);
    border-radius: 5px;
    padding: 10px 10px 10px 10px;

    &__box {
      overflow: hidden;
      background-color: var(--bg-third);
      height: 100%;
      width: 100%;
      position: relative;
      &__close {
        cursor: pointer;
        position: absolute;
        width: 30px;
        height: 30px;
        top: 5px;
        right: 25px;
        & .small_circle {
          background-color: var(--bg-primary);
        }
      }

      &__body {
        cursor: pointer;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 5px;
        &__title {
          font-size: 14px;
          font-weight: bold;
        }
        &__description {
          font-size: 10px;
          color: var(--color-secondary);
        }
      }

      &__images {
        position: absolute;
        top: 10px;
        left: 10px;
        display: flex;
        align-items: center;
        &__box {
          display: flex;
          align-items: center;
          gap: 10px;
          &__left {
            display: flex;
            gap: 5px;
            align-items: center;
            background-color: var(--bg-primary);
            padding: 10px;
            border-radius: 5px;
            font-size: 12px;
            cursor: pointer;
          }
          &__right {
            display: flex;
            gap: 5px;
            align-items: center;
            background-color: var(--bg-primary);
            padding: 10px;
            border-radius: 5px;
            font-size: 12px;
            cursor: pointer;
          }
        }
      }
    }
  }
  &__footer {
    width: 100%;
    padding: 0px 10px 10px 10px;
    height: 70px;

    &__box {
      background-color: var(--bg-third);
      position: relative;
      display: flex;
      padding: 15px;
      border-radius: 5px;
      align-items: center;
      justify-content: space-between;
      &__wrap {
        gap: 5px;
        display: flex;
        align-items: center;
        &__icon {
          height: 30px;
          width: 30px;
          border-radius: 50%;
          background-color: var(--bg-secondary);
          align-items: center;
          display: flex;
          justify-content: center;
        }
        &__title {
          font-size: 14px;
          align-items: center;
          justify-content: center;
        }
      }
      &__btn {
        & button {
          height: 30px;
          width: 50px;
          outline: none;
          border: none;
          background-color: var(--bg-secondary);
          border-radius: 5px;
          font-size: 14px;
          font-weight: bold;
        }
      }
    }
  }
}

.preview1 {
  height: 100%;
  width: 100%;
  & img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.preview2 {
  height: 100%;
  display: flex;
  gap: 2px;

  & img {
    width: 50%;
    height: 100%;
    object-fit: cover;
  }
}

.preview3 {
  height: 100%;
  width: 100%;
  display: grid;
  gap: 2px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);

  & img {
    width: 100%;
    height: 137px;
    object-fit: cover;
  }
  & img:nth-child(1) {
    grid-column: 1/3;
  }
}

.preview4 {
  height: 100%;
  width: 100%;
  display: grid;
  gap: 2px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);

  & img {
    width: 100%;
    height: 137px;
    object-fit: cover;
  }
  & img:nth-child(1) {
    grid-column: 1/4;
  }
}

.preview5 {
  height: 100%;
  width: 100%;
  display: grid;
  gap: 2px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);

  & img {
    width: 100%;
    height: 137px;
    object-fit: cover;
    grid-column: auto / span 2;
  }

  & img:nth-child(1) {
    grid-column: auto / span 3;
  }
  & img:nth-child(2) {
    grid-column: auto / span 3;
  }
}

.preview6 {
  overflow: hidden;
  overflow-y: auto;
  height: 100%;
  width: 100%;
  display: grid;
  gap: 2px;
  grid-template-columns: repeat(2, 1fr);

  & img {
    width: 100%;
    height: 137px;
    object-fit: cover;
  }
}

.singular_grid img:nth-child(1) {
  grid-column: 1/3;
}
